/* ******GLOBAL STYLES ****** */
body {
	font-family: 'Cabin', sans-serif;
	font-size: 22px;
	color: #3d686a;
	background-color: #92aaab;
	font-weight: lighter;
}
h2, h3 {
	font-variant: small-caps;
}
h2, h3, h4 {
	color: #3f7084;
}
h2 {
	font-family: 'Rancho', cursive;
	font-size: 50px;
	text-align: center;
	font-weight: lighter;
}
h3 {
	font-size: 32px;
	line-height: 0px;
}


/* ****** GRID ****** */
.full-width {
	width: 1400px;
	margin: 0 auto;
	overflow:auto;
}
.half-width {
	width: 625px;
	height: 400px;
	float: left;
	overflow:auto;
}
.third-width {
	width:425px;
	float:left;
}

#work, #about, #contact {
	width: 100%;
	margin: 0 auto;
}
/* ****** HEADER ****** */
header .full-width {
	width: 1398px;
	height: 690px;
	background: url("../img/header-image.jpg") no-repeat;
	background-color: #ecedf1;	
	padding: 30px 0;
	border: 2px solid #d16e80; /* Mulitple sizes would not work with the border shortcut so I had to add a new property below for the border-bottom to overide this one. */
	border-bottom: 0px;  /* This cancels out the 2px set above due to Specificity. Lower on page takes priority. */
	border-radius: 50px 50px 0px 0px;
}

header h1 {
	font-family: Rancho, cursive;
	font-size: 92px;
	color: #d16e80;
	text-align: center;
	padding-top: 150px;
}
header p {
	font-family: Cabin, regular;
	font-size: 48px;
	color: #193b4a;
	text-align: center;
	margin-top: -50px;
}



/* ****** WORK  ****** */
#work {
	background-color: #f6ecca;
	border-top: 2px solid #3f7084;	
}
#work .full-width  {
	padding-bottom: 50px;
	width:1300px;
}
#work p {
	line-height: 50px;
}


/* ****** ABOUT ****** */
#about {
	background-color: #3f7084;
}
#about .full-width {
	width: 1300px;
	padding-bottom: 50px;
}
#about h2 {
	color: #f4f2f2;
}
#about img {
	border: 1px solid #f4f2f2;
	border-radius: 25px;
}
#about h4 {
	color: #f4f2f2;
	line-height: 0px;
	font-weight: 100;
	font-variant: small-caps;
}
#about p {
	color: #f4f2f2;
	font-size: 20px;
	line-height: 35px;
	font-weight:lighter;
}


/* ****** CONTACT ****** */
#contact {
	background-color: #2a4955;
}
#contact .full-width {
	width: 1300px;
	height: 450px;
	background-color: #2a4955;
	padding: 20px 0 0;
}

#contact h2, #contact p, #contact h4 {
	color: #dfdbdb;
	text-align: center;
}

.contact-info a {
	text-decoration: none;
	color:#d6a8b1;
}


#nav-social {
	text-align: center; /*this is not working, I don't know why*/
	margin: 0 auto; /*this is not working, I don't know why*/
}
#nav-social ul {
	display:inline-block;
}
#nav-social li {
	display: inline;
	list-style: none;
		float:left;
}
#nav-social a {
	text-decoration: none; 
	padding: 0 20px; /* variable width*/ 

}


.copywright {
	clear:both;
	font-size: 16px;
	text-align: center;
	font-weight: lighter;
	padding: 30px 10px 0px;
}





